<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.demo.mapper.crud.CRUDMapper">

    <select id="select" resultType="map">
        select
        <foreach collection="columns.keys" item="key" separator=",">
            ${key}
        </foreach>
        from ${table} where 1=1
        <if test="like != null">
            <foreach collection="like.entrySet()" item="value" index="key" open="and (" close=")" separator="or">
                ${key} like concat('%', #{value}, '%')
            </foreach>
        </if>

        <if test="condition != null">
            <foreach collection="condition.keys" item="key" index="value">
                <foreach collection="condition[key].keys" item="symbolKey">
                    <foreach collection="condition[key][symbolKey]" item="columnValue" index="columnKey">
                        ${key} ${columnKey} ${symbolKey} #{columnValue}
                    </foreach>
                </foreach>
            </foreach>
        </if>
        <!-- 最开始的写法，条件查询只支持and 以及 = -->
        <!--        <if test="condition != null">-->
        <!--            <foreach collection="condition.entrySet()" item="value" index="key">-->
        <!--                and ${key} = #{value}-->
        <!--            </foreach>-->
        <!--        </if>-->
        <!-- 这种写法也可以 -->
        <!--        <if test="condition != null">-->
        <!--            where 1=1-->
        <!--            <foreach collection="condition.keys" item="key" >-->
        <!--                and ${key} = #{condition[${key}]}-->
        <!--            </foreach>-->
        <!--        </if>-->

        <!-- 这种写法不行，最开始调整写法 -->
        <!--        <if test="condition != null">-->
        <!--            <foreach collection="condition.entrySet()" item="value" index="key">-->
        <!--                and-->
        <!--                <foreach collection="value.entrySet()" item="columnValue" index="columnKey">-->
        <!--                    ${columnKey} = #{columnValue}-->
        <!--                </foreach>-->
        <!--            </foreach>-->
        <!--        </if>-->
        <!-- 这种写法不行 -->
        <!--        <if test="condition != null">-->
        <!--            <foreach collection="condition.keys" item="key" >-->
        <!--                and-->
        <!--                <foreach collection="condition[${key}].keys" item="columnKey">-->
        <!--                    ${columnKey} = #{condition[${key}][${columnKey}]}-->
        <!--                </foreach>-->
        <!--            </foreach>-->
        <!--        </if>-->
<!--        <if test="condition != null">-->
<!--            <foreach collection="condition.entrySet()" item="value" index="key">-->
<!--                <foreach collection="value" item="columnValue" >-->
<!--                    ${key} #{columnValue}-->
<!--                </foreach>-->
<!--            </foreach>-->
<!--        </if>-->
        limit #{start}, #{end}
    </select>

    <select id="selectCount" resultType="int">
        select count(*)
        from ${table} where 1=1
        <if test="like != null">
            <foreach collection="like.entrySet()" item="value" index="key" open="and (" close=")" separator="or">
                ${key} like concat('%', #{value}, '%')
            </foreach>
        </if>
<!--        <if test="condition != null">-->
<!--            <foreach collection="condition.entrySet()" item="value" index="key">-->
<!--                and ${key} = #{value}-->
<!--            </foreach>-->
<!--        </if>-->
        <if test="condition != null">
            <foreach collection="condition.keys" item="key" index="value">
                <foreach collection="condition[key].keys" item="symbolKey">
                    <foreach collection="condition[key][symbolKey]" item="columnValue" index="columnKey">
                        ${key} ${columnKey} ${symbolKey} #{columnValue}
                    </foreach>
                </foreach>
            </foreach>
        </if>
    </select>

    <insert id="insert" >
        insert into ${table}
        <foreach collection="columns.keys" item="key" separator="," open="(" close=")">
            ${key}
        </foreach>
        values
        <foreach collection="columns.keys" item="key" separator="," open="(" close=")">
            <if test="key == 'meta'">
                #{columns[${key}], typeHandler=com.example.demo.pojo.JsonTypeHandler}
            </if>
            <if test="key != 'meta'">
                #{columns[${key}]}
            </if>
        </foreach>
    </insert>

    <update id="update">
        update ${table}
        set
        <foreach collection="columns.keys" item="key" separator="," >
            ${key} = #{columns[${key}]}
        </foreach>
        <if test="condition != null">
            where true
            <foreach collection="condition.entrySet()" item="value" index="key">
                and ${key} = #{value}
            </foreach>
        </if>
    </update>

    <delete id="delete" >
        delete from
        ${table}
        where true
        <foreach collection="condition.entrySet()" item="value" index="key">
            and ${key} = #{value}
        </foreach>
    </delete>
</mapper>